/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }
}

a {
  text-decoration: none;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
} */
.visually-hidden {
  width: 138px;
  height: 43px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__wrapper {
    width: 90%;
  }
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__logo:hover {
  opacity: 0.5;
}

.header__search {
  fill: white;
}

.header__search:hover {
  fill: #f16d7d;
  cursor: pointer;
}

.header__button {
  border: none;
  background-color: transparent;
  fill: white;
}

.header__button:hover {
  fill: #f16d7d;
  cursor: pointer;
}

.header__navigation {
  position: absolute;
  width: 300px;
  height: 765px;
  background-color: #ffffff;
  z-index: 1;
  top: 80px;
  right: 0;
  display: none;
  opacity: 0.8;
  -webkit-box-shadow: 9px -9px 177px black;
          box-shadow: 9px -9px 177px black;
  text-shadow: 0 0 black;
}

.header__navigation-button {
  border-style: none;
  background: transparent;
}

.header__navigation-button:hover {
  opacity: 0.7;
}

.header__button:hover ~ .header__navigation {
  display: block;
}

.header__navigation:hover {
  display: block;
}

.header__navigation-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  fill: #6f6e6e;
  margin: 16px 17px 0 0;
}

.header__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 24px 34px;
}

.header__link {
  margin: 0 0 0 34px;
  fill: white;
  height: 75px;
}

.header__link:hover {
  fill: #f16d7d;
}

@media (max-width: 500px) {
  .header__link {
    display: none;
  }
}

.navigation-item__link {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 35px;
  color: #f16d7d;
  margin: 0 0 0 34px;
}

.navigation-item__link:hover {
  font-weight: 700;
}

.navigation-item__sub-list-categories {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #6f6e6e;
  margin: 0 0 0 55px;
}

.navigation-item__sub-list-categories:hover {
  color: #f16d7d;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

@media (max-width: 768px) {
  .promo {
    margin: 0 0 20px;
  }
}

@media (max-width: 500px) {
  .promo {
    margin: 0 0 64px;
  }
}

.promo__img {
  background-color: #f1e4e6;
  width: 50%;
  height: auto;
}

@media (max-width: 500px) {
  .promo__img {
    display: none;
  }
}

.promo__heading-wrapper {
  background-color: #f1e4e6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 8%;
  position: relative;
}

@media (max-width: 500px) {
  .promo__heading-wrapper {
    height: 363px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.promo__heading {
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  position: relative;
}

.promo__heading::before {
  content: "";
  width: 12px;
  height: 92px;
  background-color: #f16d7d;
  position: absolute;
  left: -10%;
}

@media (max-width: 768px) {
  .promo__heading {
    font-size: 37px;
    line-height: 44px;
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .promo__heading {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .promo__heading::before {
    width: 12px;
    height: 61px;
    left: -25px;
    top: 3px;
  }
}

.promo__sub-heading {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 768px) {
  .promo__sub-heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
}

@media (max-width: 500px) {
  .promo__sub-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.promo__sub-heading-pink {
  color: #f16d7d;
}

.categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  width: 31%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-style: normal;
}

@media (max-width: 768px) {
  .categories__item {
    width: 31%;
    min-height: 167px;
    background-size: cover;
  }
}

.categories__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.categories__heading {
  color: #f16d7d;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.categories__item--woman {
  background-image: url(../img/categories-woman.jpg);
}

.categories__item--man {
  background-image: url(../img/categories-man.jpg);
  margin: 0 2%;
}

@media (max-width: 500px) {
  .categories__item--man {
    margin: 0;
  }
}

.categories__item--kids {
  background-image: url(../img/categiories-kids.jpg);
}

.categories__item--accessories {
  background-image: url(../img/categories-accesories.jpg);
}

.categories__item--accessories {
  width: 100%;
  min-height: 180px;
  margin: 30px 0 96px 0;
}

@media (max-width: 768px) {
  .categories__item--accessories {
    margin: 20px 0 150px 0;
    min-height: 116px;
  }
}

@media (max-width: 500px) {
  .categories__item {
    width: 100%;
    min-height: 247px;
    background-size: cover;
    margin: 0 0 32px 0;
  }
}

@media (max-width: 500px) {
  .categories__item--accessories {
    margin: 0 0 64px 0;
    min-height: 111px;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__item {
  width: 360px;
  margin: 1%;
  background: #f8f8f8;
  position: relative;
}

.products__item-mask {
  position: absolute;
  width: 360px;
  height: 420px;
  background-color: black;
  top: 0;
  opacity: 0.7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.products__item-svg {
  fill: white;
}

.products__item:hover .products__item-mask {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.products__heading {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 6px 0;
  font-weight: 400;
}

.products__text {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  padding: 0 0 48px 0;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 500px) {
  .products__text {
    padding: 3px 0 64px 0;
  }
}

.products__item-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 25px 0 12px 18px;
}

.products__item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5d5d5d;
  padding: 0 0 18px 18px;
}

.products__item-price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7d;
  padding: 0 0 20px 18px;
}

.products__button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0 95px 0;
}

@media (max-width: 768px) {
  .products__button-flex {
    padding: 32px 0 65px 0;
  }
}

@media (max-width: 500px) {
  .products__button-flex {
    padding: 41px 0 96px 0;
  }
}

.products__button {
  border: 1px solid #f16d7d;
  background-color: transparent;
  width: 211px;
  height: 47px;
  color: #f16d7d;
}

.products__button:hover {
  background-color: #f16d7d;
  color: white;
}

.advantages {
  background: #222224;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 341px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 610px;
  }
}

.advantages__list-element {
  width: 360px;
  text-align: center;
}

.advantages__list-title {
  color: #fbfbfb;
  padding: 28px 0 16px 0;
}

.advantages__list-text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #fbfbfb;
}

.footer__intersect-top {
  background-image: url(../img/footer-background.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 448px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-size: cover;
}

@media (max-width: 768px) {
  .footer__intersect-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 693px;
    background-size: cover;
  }
}

@media (max-width: 500px) {
  .footer__intersect-top {
    height: 550px;
  }
}

.footer__intersect {
  width: 360px;
  text-align: center;
}

@media (max-width: 500px) {
  .footer__intersect {
    margin: 54px 0 59px 0;
  }
}

.footer__intersect-img {
  padding: 0 0 30px 0;
}

.footer__intersect-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #222224;
  height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .footer__aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 143px;
  }
}

.footer__aside-copy {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

@media (max-width: 500px) {
  .footer__aside-copy {
    padding: 0 0 9px 0;
  }
}

.footer__aside-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .footer__aside-socials {
    padding: 43px 0 40px 0;
  }
}

.footer__aside-socials-icon {
  background-color: white;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7px 0 0;
  fill: black;
}

.footer__aside-socials-icon-link :hover {
  background-color: #f16d7d;
  fill: white;
}

.footer__form {
  text-align: center;
}

.footer__form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .footer__form-title {
    line-height: 100%;
  }
}

.footer__form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
}

.footer__form-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 0 0;
}

@media (max-width: 500px) {
  .footer__form-sub {
    margin: 22px 0 109px 0;
  }
}

.footer__form-email {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-style: none;
  width: 256px;
  height: 49px;
  background-color: #e1e1e1;
}

.footer__form-button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-style: none;
  width: 100px;
  height: 49px;
  background-color: #f16d7d;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.top__rigistration {
  width: 100%;
  min-height: 148px;
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__rigistration-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #f16d7d;
  margin: 0 0 0 230px;
}

@media (max-width: 768px) {
  .top__rigistration-title {
    margin: 0 0 0 16px;
  }
}

@media (max-width: 500px) {
  .top__rigistration-title {
    text-align: center;
  }
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 64px 230px 96px 230px;
}

@media (max-width: 768px) {
  .registration {
    margin: 40px 16px 96px 16px;
  }
}

@media (max-width: 500px) {
  .registration {
    margin: 40px 8px 100px 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registration-form {
  width: 360px;
}

.registration-form__name {
  display: -ms-inline-grid;
  display: inline-grid;
}

.registration-form__name-title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-form__name-first {
  border: 1px solid #a4a4a4;
  width: 360px;
  height: 45px;
  margin: 21px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration-form__name-last {
  border: 1px solid #a4a4a4;
  width: 360px;
  height: 45px;
  margin: 21px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration-form__name-radio-block {
  margin: 32px 0 35px 0;
}

.registration-form__name-radio-block-gender-male-title {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-form__name-radio-block-gender-female-title {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration-form__login-title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration-form__login-email {
  border: 1px solid #a4a4a4;
  width: 360px;
  height: 45px;
  margin: 21px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration-form__login-password {
  border: 1px solid #a4a4a4;
  width: 360px;
  height: 45px;
  margin: 21px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration-form__login-text {
  margin: 15px 0 39px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.registration-button {
  width: 167px;
  height: 50px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7d;
  border: 1px solid #f16d7d;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  fill: #f16d7d;
}

@media (max-width: 500px) {
  .registration-button {
    margin: 0 0 40px 0;
  }
}

.registration-button:hover {
  background-color: #f16d7d;
  color: white;
  fill: white;
}

.benefits {
  width: 650px;
  margin: 0 0 0 128px;
}

@media (max-width: 768px) {
  .benefits {
    margin: 0 0 0 22px;
  }
}

@media (max-width: 500px) {
  .benefits {
    width: auto;
    margin: 0;
  }
}

.benefits__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 22px 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .benefits__title {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 40px 0;
  }
}

.benefits__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 21px 0;
}

@media (max-width: 768px) {
  .benefits__text {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 40px 0;
  }
}

.benefits__list {
  margin: 0 0 0 30px;
}

.benefits__list-item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 17px 0;
  position: relative;
}

@media (max-width: 768px) {
  .benefits__list-item {
    font-size: 16px;
    line-height: 35px;
  }
}

.benefits__list-item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url(../img/tick.png);
  top: 6px;
  left: -30px;
}

@media (max-width: 768px) {
  .benefits__list-item::before {
    top: 0;
  }
}

.top__cart {
  width: 100%;
  min-height: 148px;
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__cart-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #f16d7d;
  margin: 0 0 0 230px;
}

@media (max-width: 768px) {
  .top__cart-title {
    margin: 0 0 0 16px;
  }
}

@media (max-width: 500px) {
  .top__cart-title {
    text-align: center;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 96px 0 128px 230px;
}

@media (max-width: 768px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 59px 16px 128px 16px;
  }
}

@media (max-width: 500px) {
  .cart {
    margin: 39px 8px 96px 8px;
  }
}

.cart-product-block {
  margin: 0 128px 0 0;
}

@media (max-width: 768px) {
  .cart-product-block {
    margin: 0 0 65px 0;
    width: 97%;
  }
}

@media (max-width: 500px) {
  .cart-product-block {
    margin: 0 0 49px 0;
    width: 100%;
  }
}

.cart-product {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 18px 22px 12px #bdbdbd;
          box-shadow: 18px 22px 12px #bdbdbd;
  position: relative;
}

@media (max-width: 768px) {
  .cart-product {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cart-product {
    width: 100%;
    height: 188px;
    margin: 0 0 32px 0;
    -webkit-box-shadow: 5px 10px 12px #bdbdbd;
            box-shadow: 5px 10px 12px #bdbdbd;
  }
}

.cart-img {
  width: 262px;
  height: 306px;
}

@media (max-width: 500px) {
  .cart-img {
    width: 143px;
    height: 188px;
  }
}

@media (max-width: 500px) {
  .cart-img-size {
    width: 143px;
    height: 188px;
  }
}

.cart__description-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 22px 0 0 31px;
  width: 262px;
}

@media (max-width: 768px) {
  .cart__description-title {
    width: auto;
  }
}

@media (max-width: 500px) {
  .cart__description-title {
    font-size: 16px;
    line-height: 19px;
    margin: 14px 0 0 17px;
  }
}

.cart__description-title-pre {
  display: block;
}

.cart__description-list {
  margin: 42px 0 0 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  color: #575757;
}

@media (max-width: 500px) {
  .cart__description-list {
    font-size: 14px;
    line-height: 17px;
    margin: 25px 0 0 17px;
  }
}

.cart__description-list-price {
  color: #f16d7d;
}

.cart__description-list-quantity {
  width: 43px;
  height: 24px;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #eaeaea;
  margin: 0 0 0 24px;
  padding: 0px 10px;
}

@media (max-width: 500px) {
  .cart__description-list-quantity {
    font-size: 10px;
  }
}

.cart__description-button {
  fill: #575757;
  border: none;
  background: transparent;
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart__description-button:hover {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .cart__description-button {
    width: 10px;
    height: 11px;
    top: 17px;
    right: 12px;
  }
}

@media (max-width: 500px) {
  .cart__description-button-size {
    width: 10px;
    height: 11px;
    top: 17px;
    right: 12px;
  }
}

.cart__button-purchases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 0 0;
}

@media (max-width: 768px) {
  .cart__button-purchases {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .cart__button-purchases {
    margin: 0;
  }
}

.cart__button-clear {
  width: 235px;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #a4a4a4;
}

@media (max-width: 768px) {
  .cart__button-clear {
    margin: 0 7% 0 0;
  }
}

@media (max-width: 500px) {
  .cart__button-clear {
    font-size: 12px;
    line-height: 14px;
    margin: 0 4% 0 0;
  }
}

.cart__button-clear:hover {
  background-color: red;
}

.cart__button-continue {
  width: 224px;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #a4a4a4;
}

@media (max-width: 500px) {
  .cart__button-continue {
    font-size: 12px;
    line-height: 14px;
  }
}

.cart__button-continue:hover {
  background-color: #75f16d;
}

@media (max-width: 768px) {
  .cart__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 500px) {
  .cart__form-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .cart__form {
    width: 360px;
  }
}

@media (max-width: 500px) {
  .cart__form {
    width: 98%;
  }
}

.cart__form-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 0 20px 0;
}

.cart__form-input {
  margin: 0 0 20px 0;
  width: 360px;
  height: 45px;
  border: 1px solid #a4a4a4;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

@media (max-width: 768px) {
  .cart__form-input {
    width: 100%;
  }
}

.cart__form-button {
  width: 100px;
  height: 34px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  background-color: transparent;
  border: 1px solid #a4a4a4;
}

.cart__cost {
  width: 360px;
  height: 214px;
  background-color: #f8f3f4;
  text-align: center;
  margin: 57px 0 0 0;
}

@media (max-width: 768px) {
  .cart__cost {
    margin: 38px 0 0 15px;
  }
}

@media (max-width: 500px) {
  .cart__cost {
    margin: 48px 0 0 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
}

.cart__cost-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-align: end;
  padding: 39px 34px 12px 0;
}

.cart__cost-grand {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-align: end;
  padding: 0 37px 0 0;
}

.cart__cost-grand-pink {
  color: #f16d7d;
  white-space: pre;
}

.cart__cost-button {
  width: 273px;
  height: 50px;
  background-color: #f16d7d;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-style: none;
  text-transform: uppercase;
  margin: 39px 0 42px 0;
  position: relative;
  font-style: normal;
}

.cart__cost-button::before {
  content: "";
  width: 275px;
  height: 1px;
  background: #e2e2e2;
  position: absolute;
  top: -17px;
  left: 0px;
}
/*# sourceMappingURL=style.css.map */