.carousel-item-img-block {
    display: flex;
    justify-content: center;
    background: #f7f7f7;
}

/* .carousel-item-product {
    width: 600px;
    height: 725px;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 12px;
    height: 21px;
    fill: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon:hover {
    fill: #f16d7f;
}

.carousel-control-button {
    background: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    display: grid;
    justify-content: center;
    align-items: center;
}
