.benefits {
    width: 650px;
    margin: 0 0 0 128px;
}

@media (max-width: 768px) {
    .benefits {
        margin: 0 0 0 22px;
    }
}

@media (max-width: 500px) {
    .benefits {
        width: auto;
        margin: 0;
    }
}

.benefits__title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 22px 0;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .benefits__title {
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 40px 0;
    }
}

.benefits__text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 21px 0;
}

@media (max-width: 768px) {
    .benefits__text {
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 40px 0;
    }
}

.benefits__list {
    margin: 0 0 0 30px;
}

.benefits__list-item {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 17px 0;
    position: relative;
}

@media (max-width: 768px) {
    .benefits__list-item {
        font-size: 16px;
        line-height: 35px;
    }
}

.benefits__list-item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    background-image: url(../img/tick.png);
    top: 6px;
    left: -30px;
}

@media (max-width: 768px) {
    .benefits__list-item::before {
        top: 0;
    }
}
