.footer__intersect-top {
    background-image: url(../img/footer-background.jpg);
    display: flex;
    min-height: 448px;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
}

@media (max-width: 768px) {
    .footer__intersect-top {
        flex-direction: column;
        height: 693px;
        background-size: cover;
    }
}

@media (max-width: 500px) {
    .footer__intersect-top {
        height: 550px;
    }
}

.footer__intersect {
    width: 360px;
    text-align: center;
}

@media (max-width: 500px) {
    .footer__intersect {
        margin: 54px 0 59px 0;
    }
}

.footer__intersect-img {
    padding: 0 0 30px 0;
}

.footer__intersect-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.footer__aside {
    display: flex;
    justify-content: space-around;
    background: #222224;
    height: 79px;
    align-items: center;
}

@media (max-width: 500px) {
    .footer__aside {
        flex-direction: column-reverse;
        min-height: 143px;
    }
}

.footer__aside-copy {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
}

@media (max-width: 500px) {
    .footer__aside-copy {
        padding: 0 0 9px 0;
    }
}

.footer__aside-socials {
    display: flex;
}

@media (max-width: 500px) {
    .footer__aside-socials {
        padding: 43px 0 40px 0;
    }
}

.footer__aside-socials-icon {
    background-color: white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 0;
    fill: black;
}

.footer__aside-socials-icon-link :hover {
    background-color: $dark-pink;
    fill: white;
}

.footer__form {
    text-align: center;
}

.footer__form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .footer__form-title {
        line-height: 100%;
    }
}

.footer__form-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
}

.footer__form-sub {
    display: flex;
    justify-content: center;
    margin: 32px 0 0 0;
}

@media (max-width: 500px) {
    .footer__form-sub {
        margin: 22px 0 109px 0;
    }
}

.footer__form-email {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-style: none;
    width: 256px;
    height: 49px;
    background-color: #e1e1e1;
}

.footer__form-button {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-style: none;
    width: 100px;
    height: 49px;
    background-color: $dark-pink;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
